body{
  background-color: black;
}





.num{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-top: 100px;

}

.btn{
  background-color: rgb(255, 255, 255);
  border: none;
  margin-left: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  outline: none;
  padding: 10px;
  

}

.btn:hover{
  background-color: rgb(119, 113, 113);

}
